<!--Opis barbershopu i zdjęcie-->

<article>
    <img src="assets/228_218-barber.png" class="rounded">
    <div id="opis">
        <h1>Witamy w naszym Barber Shopie!</h1>
        <p>
            Witaj w naszym barbershopie! Jest to miejsce, gdzie tradycja spotyka się z nowoczesnością, a elegancja łączy się z wygodą. Nasza pasja do doskonałego wyglądu sprawia, że dbamy o każdy szczegół, abyś poczuł się wyjątkowo każdorazowo, gdy nas odwiedzisz.
            <br><br>
            Nasz doświadczony zespół fryzjerów i barberów to prawdziwi artyści swojego fachu. Zdobywaliśmy doświadczenie w najbardziej prestiżowych salonach na całym świecie, a teraz pragniemy podzielić się naszą wiedzą i umiejętnościami z Tobą.
            <br><br>
            W naszym barbershopie oferujemy szeroki zakres usług, począwszy od klasycznych cięć włosów i golenia na mokro, aż po nowoczesne stylizacje zarostu i pielęgnację brody. Niezależnie od tego, czy szukasz tradycyjnego fryzjera, czy preferujesz nowoczesny styl, jesteśmy tutaj, aby spełnić Twoje oczekiwania.
            <br><br>
            Przyjdź i poczuj się jak prawdziwy dżentelmen w naszym eleganckim i przytulnym salonie. Zrelaksuj się, delektując się aromatem wykwintnych olejków do golenia, a nasi eksperci zajmą się Twoim wyglądem w sposób, który pozostawi Cię z uśmiechem na twarzy.
            <br><br>
            Nie czekaj dłużej! Umów wizytę już dziś i dołącz do grona naszych zadowolonych klientów, którzy doceniają doskonałą jakość usług i niezapomniane doświadczenie, jakie oferujemy w naszym barbershopie.
        </p>
    </div>
</article>